<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<center>
    <a href="/home">Home</a> |
    <form action="" method="POST">
        <h1 style="color: blue">ĐĂNG NHẬP</h1>
        <p>TÀI KHOẢN :<label>
            <input placeholder="Account" type="text" name="name">
        </label>
        <p>MẬT KHẨU :<label>
            <input placeholder="Password" type="password" name="password">
        </label>
            <br>
            <br>
            <button type="submit">Login</button>
        <p>Nếu bạn chưa có tài khoản?? &nbsp; <a href="/register">Register</a>
    </form>
</center>
</body>
</html>