<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<center>
   | <a href="/home">Home</a> |
    <a href="/login">Login</a>|
    <form action="" method="post">
        <h1 style="color: blue">ĐĂNG KÝ </h1>
        <p>TÀI KHOẢN :<label>
            <input placeholder="Account" type="text" name="name">
        </label>
        <p>MẬT KHẨU :<label>
            <input placeholder="Password" type="text" name="password">
        </label>
            <br>
            <br>
            <button type="submit">Register</button>
    </form>
</center>
</body>
</html>